:root {
  --dark: #263238;
  --mid: rgb(83, 83, 83);
  --lightL: rgb(243, 243, 243);
  --lightlight: rgb(228, 228, 228);
  --fadedcoral: #ff715eb9;
  --coral: #ff725e;
  --fadedgrey: rgba(138, 138, 138, 0.664);
}

body {
  font-family: "Quicksand", sans-serif;
  background-color: var(--dark);
}

html {
  height: 100vh;
  width: 100vw;
}

.landingImg {
  background-color: var(--coral);
}

.choices {
  padding: 80px;
  width: 75%;
  font-size: 32px;
  border-radius: 10px;
  background-color: var(--lightlight);
  color: var(--dark);
  border: 2px solid var(--lightlight);
  text-shadow: var(--coral) 1px 0 1px;
}

.description {
  font-size: 20px;
}

.navbar-brand {
  font-size: 30px;
  color: var(--lightlight);
}

.navbar-brand:hover {
  color: var(--lightlight);
}

.categoryIcon {
  opacity: 1;
}

.categoryIcon:hover {
  opacity: 0.5;
}

.categoryIcon:hover {
  cursor: pointer;
}

.navBtn {
  font-weight: bold;
  width: 200px;
  background-color: var(--dark);
}

.btn-outline-secondary:hover {
  background-color: var(--dark);
}

.btn-outline-secondary {
  background-color: var(--coral);
  color: var(--dark);
}

.btn-outline-secondary-coral {
  background-color: var(--coral);
  color: var(--lightlight);
  border: 1px solid var(--dark);
}

.btn-secondary:hover {
  background-color: var(--coral);
  color: var(--dark);
}

#categoryIcon {
  background-color: var(--fadedgrey);
  border-radius: 10px;
  margin: 30px;
}

#form fieldset:not(:first-of-type) {
  display: none;
}

#form .previous-step,
.next-step {
  width: 100px;
  font-size: 20px;
  color: white;
  border: 1px solid var(--dark);
  border-radius: 0px;
  cursor: pointer;
}

.makeNight {
  width: 200px;
}

.form,
.previous-step {
  background: #616161;
}

.form,
.next-step {
  background: #ff725e;
}

#form .previous-step:hover,
#form .previous-step:focus {
  background-color: #000000;
}

#form .next-step:hover,
#form .next-step:focus {
  background-color: #ff725e;
}

.text {
  color: #ff725e;
  font-weight: normal;
}

.carousel-indicators button.active {
  background-color: var(--coral);
}

#progressbar {
  margin-bottom: 30px;
  overflow: hidden;
}

#progressbar button {
  font-size: 15px;
  width: 15%;
}

#progressbar #step1:before {
  content: "1";
}

#progressbar #step2:before {
  content: "2";
}

#progressbar #step3:before {
  content: "3";
}

#progressbar #step4:before {
  content: "4";
}

#progressbar button:before {
  width: 50px;
  height: 50px;
  line-height: 45px;
  display: block;
  font-size: 20px;
  color: var(--light);
  background: var(--light);
  border-radius: 50%;
  margin: 0 auto 10px auto;
  padding: 2px;
}

#progressbar button:after {
  content: "";
  width: 100%;
  height: 2px;
  background: var(--light);
  position: absolute;
  left: 0;
  top: 25px;
  z-index: -1;
}

.foodType {
  height: 50px;
  width: 300px;
}

.table {
  font-size: 20px;
  width: 200px;
}

.tableBox {
  display: grid;
  max-height: 100px;
  justify-content: center;
}

.tableBoxD {
  display: grid;
  max-height: 100px;
  justify-content: center;
}

.formIngred {
  max-width: 660px;
}

.form-control,
.form-btn {
  height: 35px;
}

table {
  border-collapse: collapse;
  height: 250px;
}
th,
td {
  border: 1px solid #c6c7cc;
}
th {
  font-weight: bold;
}
table.scroll {
  width: 240px; /* 140px * 5 column + 16px scrollbar width */
  border: 1px solid black;
  line-height: 24px;
  font-size: 20px;
}
table.scroll tbody,
table.scroll thead tr {
  display: block;
}
table.scroll tbody {
  height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
}
table.scroll tbody td,
table.scroll thead th {
  width: 140px;
  border-right: 1px solid black;
}
table.scroll thead th:last-child {
  width: 156px; /* 140px + 16px scrollbar width */
}
thead tr th {
  height: 24px;
  line-height: 24px;
  font-size: 20px;
  /*text-align: left;*/
}
tbody {
  border-top: 1px solid black;
}
tbody td:last-child,
thead th:last-child {
  border-right: none !important;
}

tbody tr td {
  width: 200px;
}

.btn-success {
  border: 1px solid var(--dark);
  background-color: var(--coral);
}

#ui-id-1 {
  text-align: left;
  list-style: none;
  background-color: var(--lightL);
  height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
  position: absolute !important;
}

#ui-id-1 li:hover {
  background-color: var(--coral);
}

.ui-helper-hidden-accessible {
  display: none;
}

#drinkIngForm {
  height: 500px;
}

footer .genreType,
.yearType,
.ratedType,
.runType {
  width: 400px;
  margin-left: 20px;
}
