:root {
  --dark: #263238;
  --mid: rgb(83, 83, 83);
  --light: rgb(119, 118, 118);
  --lightlight: rgb(235, 235, 235);
  --fadedcoral: #ff715eb9;
  --coral: #ff725e;
  --fadedgrey: rgba(138, 138, 138, 0.664);
}

body {
  font-family: "Quicksand", sans-serif;
  background-color: var(--lightlight);
}

html {
  height: 100vh;
  width: 100vw;
}

#food-img {
  object-fit: cover;
}

#foodCards {
  box-shadow: 10px 5px 5px rgba(var(--dark)) !important;
}
